<div class="mission-text-container">
  <div>{{section.settings.title}}</div>
  <img class="img-explore" src="{{ section.settings.product | img_url: 'master'}}">
</div>


{% schema %}
 {
 	"name": "Best Sellers",
 	"settings": [{
 			"type": "text",
 			"id": "title",
 			"label": "heading",
 			"default": "Best Sellers"
 		},
 		{
 			"type": "product",
 			"id": "products",
 			"label": "Products"
 		}
 	],
 	"presets": [{
 		"name": "Best Sellers ",
 		"category": "Advanced"
 	}]
 }
  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
