<div class="mission-text-container">
 {{section.settings.headline}}
</div>


{% schema %}
 {
 	"name": "Mission-text",
 	"settings": [{
 			"type": "text",
 			"id": "title",
 			"label": "heading",
 			"default": "Best Sellers"
 		},
 		{
 			"type": "product",
 			"id": "products",
 			"label": "Products"
 		}
 	],
 	"presets": [{
 		"name": "Best Sellers ",
 		"category": "Advanced"
 	}]
 }
  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
