<div class="mission-text-container">
 {{section.settings.headline}}
 {{section.settings.mission-text}}
</div>


{% schema %}
   {
  	"name": "Mission-text",
  	"settings": [{
  			"type": "product",
  			"id": "headline",
  			"label": "Headline"
  		},

  		{
  			"type": "richtext",
  			"id": "mission-text",
  			"label": "Text",
            "default": "<p>Type here</p>"
  		}
  	],
  	"presets": [{
  		"name": "Best Sellers ",
  		"category": "Advanced"
  	}]
  }
  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
