.icons-container {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: right;
  width: 100%;
}

.heart-icon > a, .cart-icon > a, .search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

.mission-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 27.5px;
}

.mission-text-container p {
  width: 60%;
  text-align: center;
}

/* Company information component */

.information-columns-container{
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 90%;
  margin: auto;
}

.information-columns-item {
  width: 100%;
  padding: 0 10px 0 10px;
}

.information-columns-img {
  max-width: 125px !important;
}

.information-columns-textblock {
  text-align: center;
}

.information-columns-textblock h3 {
  font-size: 1rem;
}

.information-columns-textblock p {
  font-size: 0.8rem;
}

.header-container {
  text-align: center;
}


@media (max-width: 768px) {
  .information-columns-container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    text-align: center;
    width: 80%;
    margin: auto;
  }
  
  .information-columns-textblock {
    margin: auto;
    width: 65%;
  }
}

@media (max-width: 480px) {
  .slick-carousel-mobile {
    display: block !important;
  }
  .information-columns-container{
    display: none !important;
  }
  .information-columns-img{
    margin: auto;
  }
}

@media (min-width: 480px) {
  .slick-carousel-mobile {
    display: none !important;
  }
}

/* Product-grid-item */

.product-title,
.product-meta {
  text-align: left;
}

/* Instagram grid images */

.img-1 { grid-area: one; }
.img-2 { grid-area: two; }
.img-3 { grid-area: three; }
.img-4 { grid-area: four; }
.img-5 { grid-area: five; }
.img-6 { grid-area: six; }
.img-7 { grid-area: seven; }

.grid-container {
  display: grid;
  grid-template-areas:
    'one two three seven seven'
    'four five six seven seven'
    ;
  grid-gap: 1rem;
  padding-bottom: 27px;
}

.grid-title-container {
  text-align: center;
  padding: 27.5px 0 27.5px 0;
}


/* Header */

@media (max-width: 480px) {
  .site-header__logo {
    font-size: 1rem;
  }
  .grid__item {
    width: 100%;
  }
  
  .warapper-mobile {
    width: 100%;
  }
  
  .grid--full {
    width: 100%;
  }
  
  .heart-icon {
    width: 100%;
  }
  
  .cart-icon {
    width: 100%;
  }
}

@media (max-width: 768px) {
 .site-header {
    display: none !important;
  }
}






