.icons-container {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: right;
  width: 100%;
}

.heart-icon > a, .cart-icon > a, .search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

.mission-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 27.5px;
}

.mission-text-container p {
  width: 60%;
  text-align: center;
}

.information-columns-container{
  display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  width: 90%;
  margin: auto;
}

.information-columns-item {
  width: 100%;
  padding: 0 10px 0 10px;
}

.information-columns-img{
/*   border: 2px solid pink; */
}

.information-columns-textblock{
  text-align: center;
}

.information-columns-textblock h3{
  font-size: 1rem;
}

.information-columns-textblock p {
  font-size: 0.8rem;
}

.header-container {
  text-align: center;
}

/* Product-grid-item */

.product-link__title,
.product-link__meta {
  text-align: left;
  position: relative;
  margin-bottom: 5px;
}

.product-link__title {
  color: $colorTextBody;
  font-family: $headerFontStack;
  font-size: .9em;
  line-height: 1.4;
  font-weight: $bodyFontWeightBold;
}
